body{
    background-color: #36393F;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
}

h1{
    font-weight: bold;
    background-color:black;
}

h2{
    font-weight:bold;
    color:black;
    background-color: white;
}

ul{
    list-style: none;
    list-style-position:inside;
}

ol{
    list-style-position: inside;
}

a{
    text-decoration:underline;
    color:white;

}

#indexFoodList{
    list-style:none;
}