html{
    box-sizing: border-box;
}

*, 
*::before,
*::after{
    box-sizing: inherit;
}

*{
    margin:0px;
    padding:0px;
    font-family: 'Courier New', Courier, monospace;
    font-size:16px;
}

h1,
h2,
a{
    color:white;
    background-color: #000000;
    font-weight: bold;
    text-align: center;
}

h1{
    font-size:50px;
}

h2{
    font-size:30px;
}

.navbar{
    border:1em;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.navbar li{
    display: inline-block;
    width:12em;
    height:2.5em;
    padding:0.1em;
    margin: 5px;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color:black;
    background-color: grey;
}

.nav-internal{
    font-size:22px;
    text-decoration: none;
    background-color: grey;
}

.nav-external{
    text-decoration: none;
    background-color: transparent;
    color:black;
}

.recipe-img{
    display:block;
    height:auto;
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

#index-img-showcase{
    display:flex;
    justify-content: space-between;
}

#index-recipe-list{
    display:flex;
    justify-content:space-around;
    list-style:none;
}
